<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7_ZmzxPQvM332SHYxwbg_g-C8z7g9yZY</string>
	<key>GCM_SENDER_ID</key>
	<string>731079339824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skopskivremeplov</string>
	<key>PROJECT_ID</key>
	<string>skopskivremeplov</string>
	<key>STORAGE_BUCKET</key>
	<string>skopskivremeplov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731079339824:ios:87751feeef259fea7a62f5</string>
</dict>
</plist>